.text {
    position: absolute;
    z-index: 100;
    top: calc(65px + 8vw);
    left: 5vw;
    background-color: inherit;
    height: 10vh;
    width: 39vw;
    font: 'Inter';
    font-size: 2.5vw;
    color: white;
}
.imag {
    position: absolute;
    width: 55vw;
    top: 65px;
    right: 0vw;
}
.continutTop {
    display: contents;
}
.content {
    display: block;
    border: 10px;
}
.contentMid1 {
    display: block;
    position: absolute;
    background-color: white;
    height: 45vw;
    width: 40vw;
    top: 36vw;
    left: 5vw;
    border-radius: 6%;
    margin-top: 60px;
}
.contentMid2 {
    display: block;
    position: absolute;
    background-color: white;
    height: 45vw;
    width: 40vw;
    top: 36vw;
    left: 54vw;
    border-radius: 6%;
    margin-top: 60px;
}
.contentMid3 {
    display: block;
    position: absolute;
    background-color: white;
    height: 45vw;
    width: 40vw;
    top: 84vw;
    left: 5vw;
    border-radius: 6%;
    margin-top: 60px;
}
.contentMid4 {
    display: block;
    position: absolute;
    background-color: white;
    height: 45vw;
    width: 40vw;
    top: 84vw;
    left: 54vw;
    border-radius: 6%;
    margin-top: 60px;
}