.nav-link {
    color: "#04395E";
    font-size: 1.5rem;
    z-index: 1000;
}
.navbar-brand {
    position: fixed;
    top: 0.5vh;
    left: 2rem;
    z-index: 1000;
}
.navbar-nav {
    z-index: 1000;
}
.navbar-toggler {
    position: fixed;
    right: 2vw;
}

@media (orientation: portrait) {
    .navbar-toggler {
        display: block !important;
    }

    .navbar-nav {
        display: none !important;
    }

    .collapse.navbar-collapse {
        display: block;
        z-index: 1000;
    }
}